{% extends 'core/base.html' %}

  {% block content %}
         <!-- CONTENIDO DE LA PAGINA  -->
        <h2 class="mb-4">CARTA</h2>
        <div>

          <ul><h5>TAPAS</h5>
            <li>5€ - Jamón</li>
            <li>5€ - Lomo</li>
            <li>5€ - Queso</li>
            <li>5€ - Lacón</li>
            <li>5€ - Anchoa con tomate y queso de Burgos</li>
            <li>5€ - Atún con pimiento</li>
            <li>5€ - Tortilla de patata</li>

          </ul>

          <ul><h5>RACIONES</h5>
            <li>9€  - Bacalao dorado</li>
            <li>12€ - Bacalao a la Nata</li>
            <li>13€ - Gambones ajillo</li>
            <li>13€ - Gambones en salsa de Soja y miel</li>
            <li>10€ - Chocos fritos</li>
            <li>12€ - Revuelto de gulas y gambas</li>
            <li>11€ - Revuelto de champiñones, jamon y gambas</li>
            <li>12€ - Huevos rotos (huevo, gulas y patatas fritas)</li>
            <li>15€ - Antojo (huevos , bacon, cebolla frita , patatas fritas y jamón ibérico)</li>
            <li>15€ - Presa a la parrilla</li>
            <li>13€ - Solomillo al ajillo/ ajo tostado</li>
            <li>12€ - Carrillada en salsa</li>
            <li>10€ - Callos a la extremeña</li>
            <li>9€  - Mollejas en salsa</li>
            <li>9€  - Croquetas caseras de jamón</li>
            <li>10€ - Lagrimas de pollo</li>
            <li>8€  - Tortilla de patata</li>

          </ul>
        </div>
        {% endblock %}
